In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
import seaborn as sns
import matplotlib.pyplot as plt
sns.set(style="darkgrid")

In [118]:
import warnings
warnings.filterwarnings('ignore')

In [22]:
df = pd.read_csv(r'C:\Users\Dell\OneDrive\Desktop\SJC\heart_disease.csv')

In [23]:
df

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4233,1,50,1.0,1,1.0,0.0,0,1,0,313.0,179.0,92.0,25.97,66.0,86.0,1
4234,1,51,3.0,1,43.0,0.0,0,0,0,207.0,126.5,80.0,19.71,65.0,68.0,0
4235,0,48,2.0,1,20.0,NaN,0,0,0,248.0,131.0,72.0,22.00,84.0,86.0,0
4236,0,44,1.0,1,15.0,0.0,0,0,0,210.0,126.5,87.0,19.16,86.0,NaN,0
4237,0,52,2.0,0,0.0,0.0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.0,0

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4238 entries, 0 to 4237
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   male             4238 non-null   int64
 1   age              4238 non-null   int64
 2   education        4133 non-null   float64
 3   currentSmoker    4238 non-null   int64
 4   cigsPerDay       4209 non-null   float64
 5   BPMeds           4185 non-null   float64
 6   prevalentStroke  4238 non-null   int64
 7   prevalentHyp     4238 non-null   int64
 8   diabetes         4238 non-null   int64
 9   totChol          4188 non-null   float64
 10  sysBP            4238 non-null   float64
 11  diaBP            4238 non-null   float64
 12  BMI              4219 non-null   float64
 13  heartRate        4237 non-null   float64
 14  glucose          3850 non-null   float64
 15  TenYearCHD       4238 non-null   int64
dtypes: float64(9), int64(7)
memory usage: 529.9 KB

In [25]:
df.describe()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
count,4238.000000,4238.000000,4133.000000,4238.000000,4209.000000,4185.000000,4238.000000,4238.000000,4238.000000,4188.000000,4238.000000,4238.000000,4219.000000,4237.000000,3850.000000,4238.000000
mean,0.429212,49.584946,1.978950,0.494101,9.003089,0.029630,0.005899,0.310524,0.025720,236.721585,132.352407,82.893464,25.802008,75.878924,81.966753,0.151958
std,0.495022,8.572160,1.019791,0.500024,11.920094,0.169584,0.076587,0.462763,0.158316,44.590334,22.038097,11.910850,4.080111,12.026596,23.959998,0.359023
min,0.000000,32.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,107.000000,83.500000,48.000000,15.540000,44.000000,40.000000,0.000000
25%,0.000000,42.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,206.000000,117.000000,75.000000,23.070000,68.000000,71.000000,0.000000
50%,0.000000,49.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,234.000000,128.000000,82.000000,25.400000,75.000000,78.000000,0.000000
75%,1.000000,56.000000,3.000000,1.000000,20.000000,0.000000,0.000000,1.000000,0.000000,263.000000,144.000000,89.875000,28.040000,83.000000,87.000000,0.000000
max,1.000000,70.000000,4.000000,1.000000,70.000000,1.000000,1.000000,1.000000,1.000000,696.000000,295.000000,142.500000,56.800000,143.000000,394.000000,1.000000

In [26]:
df.nunique()

male                  2
age                  39
education             4
currentSmoker         2
cigsPerDay           33
BPMeds                2
prevalentStroke       2
prevalentHyp          2
diabetes              2
totChol             248
sysBP               234
diaBP               146
BMI                1363
heartRate            73
glucose             143
TenYearCHD            2
dtype: int64

In [27]:
df.shape

(4238, 16)

### Data Cleaning

In [32]:
df.isna().sum()

male                 0
age                  0
education          105
currentSmoker        0
cigsPerDay          29
BPMeds              53
prevalentStroke      0
prevalentHyp         0
diabetes             0
totChol             50
sysBP                0
diaBP                0
BMI                 19
heartRate            0
glucose            388
TenYearCHD           0
dtype: int64

In [31]:
(df.isna().sum()/df.shape[0])*100

male               0.000000
age                0.000000
education          2.478169
currentSmoker      0.000000
cigsPerDay         0.684447
BPMeds             1.250885
prevalentStroke    0.000000
prevalentHyp       0.000000
diabetes           0.000000
totChol            1.180080
sysBP              0.000000
diaBP              0.000000
BMI                0.448430
heartRate          0.000000
glucose            9.157423
TenYearCHD         0.000000
dtype: float64

In [33]:
df.dropna(subset = ['BMI'], inplace = True)

In [41]:
df['glucose'] = df['glucose'].fillna(df['glucose'].mean())

In [36]:
df['totChol'] = df['totChol'].fillna(df['totChol'].mode()[0])

In [37]:
df['BPMeds'] = df['BPMeds'].fillna(df['BPMeds'].mode()[0])

In [38]:
df['cigsPerDay'] = df['cigsPerDay'].fillna(df['cigsPerDay'].mode()[0])

In [39]:
df['education'] = df['education'].fillna(df['education'].mode()[0])

In [42]:
df.isna().sum()

male               0
age                0
education          0
currentSmoker      0
cigsPerDay         0
BPMeds             0
prevalentStroke    0
prevalentHyp       0
diabetes           0
totChol            0
sysBP              0
diaBP              0
BMI                0
heartRate          0
glucose            0
TenYearCHD         0
dtype: int64

In [43]:
%matplotlib inline
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix,accuracy_score,f1_score
from sklearn.model_selection import GridSearchCV

In [54]:
X = df.drop(['TenYearCHD','prevalentStroke','prevalentHyp','diabetes','currentSmoker'], axis=1)

y = df['TenYearCHD']

In [55]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.33, random_state = 42)

In [56]:
X_train.shape, X_test.shape

((2826, 11), (1392, 11))

In [57]:
X_train.dtypes

male            int64
age             int64
education     float64
cigsPerDay    float64
BPMeds        float64
totChol       float64
sysBP         float64
diaBP         float64
BMI           float64
heartRate     float64
glucose       float64
dtype: object

In [61]:
!pip install category_encoders

Collecting category_encoders
  Downloading category_encoders-2.5.0-py2.py3-none-any.whl (69 kB)
     -------------------------------------- 69.1/69.1 kB 539.6 kB/s eta 0:00:00
Requirement already satisfied: numpy>=1.14.0 in c:\users\dell\anaconda3\new folder\lib\site-packages (from category_encoders) (1.20.1)
Requirement already satisfied: pandas>=1.0.5 in c:\users\dell\anaconda3\new folder\lib\site-packages (from category_encoders) (1.2.4)
Requirement already satisfied: statsmodels>=0.9.0 in c:\users\dell\anaconda3\new folder\lib\site-packages (from category_encoders) (0.12.2)
Requirement already satisfied: scipy>=1.0.0 in c:\users\dell\anaconda3\new folder\lib\site-packages (from category_encoders) (1.6.2)
Requirement already satisfied: scikit-learn>=0.20.0 in c:\users\dell\anaconda3\new folder\lib\site-packages (from category_encoders) (0.24.1)
Requirement already satisfied: patsy>=0.5.1 in c:\users\dell\anaconda3\new folder\lib\site-packages (from category_encoders) (0.5.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\dell\anaconda3\new folder\lib\site-packages (from pandas>=1.0.5->category_encoders) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\dell\anaconda3\new folder\lib\site-packages (from pandas>=1.0.5->category_encoders) (2021.1)
Requirement already satisfied: six in c:\users\dell\anaconda3\new folder\lib\site-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: joblib>=0.11 in c:\users\dell\anaconda3\new folder\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (1.0.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\dell\anaconda3\new folder\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (2.1.0)
Installing collected packages: category_encoders
Successfully installed category_encoders-2.5.0

In [62]:
import category_encoders as ce
encoder = ce.OrdinalEncoder(cols=['male', 'age', 'education', 'cigsPerDay', 'BPMeds','totChol','sysBP','diaBP','BMI','heartRate','glucose'])


X_train = encoder.fit_transform(X_train)

X_test = encoder.transform(X_test)

In [65]:
from sklearn.tree import DecisionTreeClassifier
clf_gini = DecisionTreeClassifier(criterion='gini', max_depth=3, random_state=0)
clf_gini.fit(X_train, y_train)

DecisionTreeClassifier(max_depth=3, random_state=0)

In [66]:
y_pred_gini = clf_gini.predict(X_test)

In [67]:
from sklearn.metrics import accuracy_score
print('Model accuracy score with criterion gini index: {0:0.4f}'. format(accuracy_score(y_test, y_pred_gini)))

Model accuracy score with criterion gini index: 0.8635

### Decision Tree Classifier

In [69]:
clf = DecisionTreeClassifier(random_state=0)

In [70]:
clf.fit(X_train,y_train)

DecisionTreeClassifier(random_state=0)

In [71]:
prediction = clf.predict(X_test)

In [72]:
accuracy_score(y_test, prediction)

0.7485632183908046

### Grid Search CV Implementation

In [145]:
grid = { 
    'splitter': ['best', 'random'],
    'max_features': ['sqrt', 'log2'],
    'max_depth' : [4,5,6,7,8,9,10,12,14],
    'criterion' :['gini', 'entropy'],
    'random_state' : [18]
}

In [146]:
dt_cv = GridSearchCV(estimator=DecisionTreeClassifier(), param_grid=grid, cv= 5)
dt_cv.fit(X_train, y_train)

GridSearchCV(cv=5, estimator=DecisionTreeClassifier(),
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': [4, 5, 6, 7, 8, 9, 10, 12, 14],
                         'max_features': ['sqrt', 'log2'], 'random_state': [18],
                         'splitter': ['best', 'random']})

In [147]:
dt_cv.best_params_

{'criterion': 'gini',
 'max_depth': 4,
 'max_features': 'sqrt',
 'random_state': 18,
 'splitter': 'random'}

In [148]:
clf = DecisionTreeClassifier(criterion='gini', max_depth=4, max_features='sqrt', splitter='random' , random_state=18)

In [149]:
clf.fit(X_train,y_train)

DecisionTreeClassifier(max_depth=4, max_features='sqrt', random_state=18,
                       splitter='random')

In [150]:
prediction = clf.predict(X_test)

In [151]:
accuracy_score(y_test, prediction)

0.8649425287356322

Observation: The accuracy of the model has an increased value after using Grid Search CV

### Random Forest

In [137]:
clf = RandomForestClassifier(n_estimators = 100, random_state = 18).fit(X_train, y_train)

In [138]:
prediction = clf.predict(X_test)

In [139]:
accuracy_score(y_test, prediction)

0.8635057471264368

### Grid Search CV Implementation

In [141]:
grid = { 
    'n_estimators': [200,300,400,500],
    'max_features': ['sqrt', 'log2'],
    'max_depth' : [4,5,6,7,8],
    'criterion' :['gini', 'entropy'],
    'random_state' : [18]
}

In [143]:
rf_cv = GridSearchCV(estimator=RandomForestClassifier(), param_grid=grid, cv= 5)
rf_cv.fit(X_train, y_train)

GridSearchCV(cv=5, estimator=RandomForestClassifier(),
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': [4, 5, 6, 7, 8],
                         'max_features': ['sqrt', 'log2'],
                         'n_estimators': [200, 300, 400, 500],
                         'random_state': [18]})

In [144]:
rf_cv.best_params_

{'criterion': 'gini',
 'max_depth': 7,
 'max_features': 'sqrt',
 'n_estimators': 400,
 'random_state': 18}

In [153]:
clf = RandomForestClassifier(criterion= 'gini',n_estimators = 400, max_depth=7, max_features='sqrt' , random_state = 18).fit(X_train, y_train)

In [154]:
clf.fit(X_train,y_train)

RandomForestClassifier(max_depth=7, max_features='sqrt', n_estimators=400,
                       random_state=18)

In [155]:
prediction = clf.predict(X_test)

In [156]:
accuracy_score(y_test, prediction)

0.8649425287356322

Observation: The Accuracy of the model has a minute increased value after using Grid Search CV. Random Forest seems to be much more accurate when compared to Decision Tree