# Machine Learning_16-4

Register Number:21BDA23
Name:Aaron D'lima

Python Basics: Revision
a)Dealing with integer,float and boolean operators

In [1]:
23

23

In [2]:
23.43

23.43

In [3]:
'I am awesome'    #String functions can be expressed in single or double inverted commas

'I am awesome'

In [4]:
True

True

In [5]:
False

False

b)Let us create a list and perform some functions

In [6]:
a=[5,2,4]

In [7]:
a

[5, 2, 4]

In [8]:
a,a        #We can see that our output is inside the ();

([5, 2, 4], [5, 2, 4])

In [9]:
[a,a]

[[5, 2, 4], [5, 2, 4]]

In [10]:
#We can use append
a.append([7,8,9])

In [11]:
a

[5, 2, 4, [7, 8, 9]]

In [12]:
" "       #Empty input

' '

In [13]:
None

### Operators

In [14]:
5+3

8

In [15]:
"5"+"3"     #Look at the two different operations have been done a)int b)string

'53'

In [16]:
##Finding type 
type("WELCOME")

str

In [17]:
type(25)

int

In [18]:
type(25.99)

float

In [19]:
#Python construct restricts element-wise mathematical operations on list

In [20]:
[21,55,87] + [12,32,5]

[21, 55, 87, 12, 32, 5]

In [21]:
[21,55,87]*2

[21, 55, 87, 21, 55, 87]

In [22]:
[1,2,'3','a'] * 2

[1, 2, '3', 'a', 1, 2, '3', 'a']

In [23]:
'4' * 3

'444'

In [24]:
'3' + 2      # It throws an error. Because both must be of same datatype

TypeError: can only concatenate str (not "int") to str

In [26]:
'3' + '2'

'32'

In [27]:
b=25

In [28]:
b

25

In [29]:
b==12

False

In [30]:
b==25

True

In [31]:
#TUPLE
b=(20,2)

In [32]:
b

(20, 2)

In [33]:
type(b)

tuple

In [34]:
#Difference between List and Tuple

In [35]:
#Worked example in the class
marks = [10, 20, 30, 50, 75, 90, 95]

In [36]:
pass_mark = 50

In [37]:
marks[0]<pass_mark

True

In [38]:

if marks[0]<pass_mark:
    print("fail")

fail

In [39]:
for i in range(5):
    print(i)

0
1
2
3
4

In [40]:
for i in range(len(marks)):
    print(marks[i])

10
20
30
50
75
90
95

In [41]:

for mark in marks:
    print(mark)  
    if mark<pass_mark:
        print("fail")
    else: 
        print("pass")
    print("------------------")

10
fail
------------------
20
fail
------------------
30
fail
------------------
50
pass
------------------
75
pass
------------------
90
pass
------------------
95
pass
------------------

In [42]:
marks

[10, 20, 30, 50, 75, 90, 95]

In [43]:
for mark in marks:
    print(mark)  
    if(mark<pass_mark)&(mark>20):
        print("grace")
    elif(mark<pass_mark)&(mark<=20):
        print("fail")
    else: 
        print("pass")
    print("------------------")

10
fail
------------------
20
fail
------------------
30
grace
------------------
50
pass
------------------
75
pass
------------------
90
pass
------------------
95
pass
------------------

In [44]:
marks

[10, 20, 30, 50, 75, 90, 95]

In [45]:
#Self worked example

In [46]:
#Below are the weights randomly entered and keep the normal weight to 50
weights = [45, 53, 23, 77, 61, 32,67]

In [47]:
weights

[45, 53, 23, 77, 61, 32, 67]

In [48]:
normal_weight=50

In [49]:
weights[3]<normal_weight

False

In [50]:

weights[3]>normal_weight

True

In [51]:
#Using if...else
if weights[3]<normal_weight:
    print('greater than normal weight')
else:
    print('lesser than normal weight')

lesser than normal weight

In [52]:
for i in range(10):      # it prints 10 elements starting fro  0 to 9
    print(i)

0
1
2
3
4
5
6
7
8
9

In [53]:
for i in range(len(weights)):
    print(weights[i])

45
53
23
77
61
32
67

In [54]:
#Using for loop
for weight in weights:
    print(weight)  
    if weight<normal_weight:
        print("lesser than normal")
    else: 
        print("Greater than normal")
    print("------------------")

45
lesser than normal
------------------
53
Greater than normal
------------------
23
lesser than normal
------------------
77
Greater than normal
------------------
61
Greater than normal
------------------
32
lesser than normal
------------------
67
Greater than normal
------------------

In [55]:
for weight in weights:
    print(weight)  
    if(weight<normal_weight)&(weight>30):
        print("little lesser than normal")
    elif(weight<normal_weight)&(weight<=30):
        print("Need to look into increase the weight")
    else: 
        print("Greater than weight")
    print("------------------")

45
little lesser than normal
------------------
53
Greater than weight
------------------
23
Need to look into increase the weight
------------------
77
Greater than weight
------------------
61
Greater than weight
------------------
32
little lesser than normal
------------------
67
Greater than weight
------------------

In [56]:
#Range function
x = range(5, 22, 2)
for n in x:
    print(n)
#start=5,stop=22,step=2

5
7
9
11
13
15
17
19
21

In [57]:
#Function

In [58]:
def ft_add(a, b):
    return a+b

In [59]:
foo_sum(6, 8)

NameError: name 'foo_sum' is not defined

In [60]:
#first no. - second no.
def ft_dif(num1 = 0, num2 = 0):
    print(num1)
    return num1-num2

In [61]:
ft_dif(num1 = 60, num2 = 32)

60

28

In [62]:
ft_dif(17)

17

17

In [63]:
num1

NameError: name 'num1' is not defined

# Python DS

In [64]:
#Pandas, Numpy, Scipy, Sklearn, Matplotlib

In [65]:
import pandas as pd
import numpy as np

In [66]:
weights

[45, 53, 23, 77, 61, 32, 67]

In [67]:
weights_series = pd.Series(weights)

In [68]:
weights_series

0    45
1    53
2    23
3    77
4    61
5    32
6    67
dtype: int64

In [69]:
weights_series.index

RangeIndex(start=0, stop=7, step=1)

In [70]:
weights_series.values

array([45, 53, 23, 77, 61, 32, 67], dtype=int64)

In [71]:
weights_series[3:]

3    77
4    61
5    32
6    67
dtype: int64

In [72]:
weights_series[:5]

0    45
1    53
2    23
3    77
4    61
dtype: int64

In [73]:
weights_series[5] = 53

In [74]:
weights_series

0    45
1    53
2    23
3    77
4    61
5    53
6    67
dtype: int64

In [75]:
weights_series.value_counts()

53    2
61    1
67    1
77    1
45    1
23    1
dtype: int64

In [76]:
# Creating dataframe

In [77]:
sample_df = pd.DataFrame([weights, weights]).T
sample_df

    0   1
0  45  45
1  53  53
2  23  23
3  77  77
4  61  61
5  32  32
6  67  67

In [78]:
sample_df.columns = ['weights01', 'weights02']
sample_df

   weights01  weights02
0         45         45
1         53         53
2         23         23
3         77         77
4         61         61
5         32         32
6         67         67

In [79]:
d=pd.read_csv("C:/Users/User/Desktop/tips_cleaned.csv")
d

     table_number  total_bill   tip     sex smoker       day    time  size
0             NaN        3.07  1.00  Female    Yes  Saturday  Dinner     1
1             NaN       10.07  1.83  Female     No  Thursday   Lunch     1
2             NaN        7.25  1.00  Female     No  Saturday  Dinner     1
3             NaN        8.58  1.92    Male    Yes    Friday   Lunch     1
4             NaN       16.99  1.01  Female     No    Sunday  Dinner     1
..            ...         ...   ...     ...    ...       ...     ...   ...
239           6.0       28.15  3.00    Male    Yes  Saturday  Dinner     5
240           9.0       29.80  4.20  Female     No  Thursday   Lunch     6
241          10.0       34.30  6.70    Male     No  Thursday   Lunch     6
242          10.0       27.05  5.00  Female     No  Thursday   Lunch     6
243           7.0       48.17  5.00    Male     No    Sunday  Dinner     6

[244 rows x 8 columns]

In [80]:
d.head()

   table_number  total_bill   tip     sex smoker       day    time  size
0           NaN        3.07  1.00  Female    Yes  Saturday  Dinner     1
1           NaN       10.07  1.83  Female     No  Thursday   Lunch     1
2           NaN        7.25  1.00  Female     No  Saturday  Dinner     1
3           NaN        8.58  1.92    Male    Yes    Friday   Lunch     1
4           NaN       16.99  1.01  Female     No    Sunday  Dinner     1

In [81]:
d.tail()

     table_number  total_bill  tip     sex smoker       day    time  size
239           6.0       28.15  3.0    Male    Yes  Saturday  Dinner     5
240           9.0       29.80  4.2  Female     No  Thursday   Lunch     6
241          10.0       34.30  6.7    Male     No  Thursday   Lunch     6
242          10.0       27.05  5.0  Female     No  Thursday   Lunch     6
243           7.0       48.17  5.0    Male     No    Sunday  Dinner     6

In [82]:
d['sex']      #Accessing particular column

0      Female
1      Female
2      Female
3        Male
4      Female
        ...
239      Male
240    Female
241      Male
242    Female
243      Male
Name: sex, Length: 244, dtype: object

In [83]:
type(d['sex'])

pandas.core.series.Series

In [84]:
type(d)

pandas.core.frame.DataFrame

In [85]:
d['sex'].value_counts()

Male      157
Female     87
Name: sex, dtype: int64

In [86]:
d.shape

(244, 8)

In [87]:
d.isna().sum()

table_number    8
total_bill      0
tip             0
sex             0
smoker          0
day             0
time            0
size            0
dtype: int64

In [88]:
d.columns

Index(['table_number', 'total_bill', 'tip', 'sex', 'smoker', 'day', 'time',
       'size'],
      dtype='object')

In [89]:
need_col=['smoker','sex']

In [90]:
d[need_col]

    smoker     sex
0      Yes  Female
1       No  Female
2       No  Female
3      Yes    Male
4       No  Female
..     ...     ...
239    Yes    Male
240     No  Female
241     No    Male
242     No  Female
243     No    Male

[244 rows x 2 columns]

In [91]:
d['day']

0      Saturday
1      Thursday
2      Saturday
3        Friday
4        Sunday
         ...
239    Saturday
240    Thursday
241    Thursday
242    Thursday
243      Sunday
Name: day, Length: 244, dtype: object

In [92]:
#Dictionaries | syntax - {key: value, key: value} | dict()

In [93]:
weights

[45, 53, 23, 77, 61, 32, 67]

In [94]:
len(weights)

7

In [95]:
sname = list('PRUTHVIS')

In [96]:
list('PRUTHVIS')

['P', 'R', 'U', 'T', 'H', 'V', 'I', 'S']

In [97]:
sample_dict = {'Sno':sname, 'weights':weights}

In [98]:
sample_dict

{'Sno': ['P', 'R', 'U', 'T', 'H', 'V', 'I', 'S'],
 'weights': [45, 53, 23, 77, 61, 32, 67]}

In [99]:
d2 = pd.DataFrame(sample_dict)

ValueError: arrays must all be same length

In [100]:
d['sex'].value_counts()

Male      157
Female     87
Name: sex, dtype: int64

In [101]:
d.sex.value_counts()

Male      157
Female     87
Name: sex, dtype: int64

In [102]:
d['tip']>5

0      False
1      False
2      False
3      False
4      False
       ...
239    False
240    False
241     True
242    False
243    False
Name: tip, Length: 244, dtype: bool

In [103]:
d[d['tip']>5]

     table_number  total_bill    tip     sex smoker       day    time  size
56            5.0   24.710000   5.85    Male     No  Thursday   Lunch     2
115           4.0    7.250000   5.15    Male    Yes    Sunday  Dinner     2
123           4.0   23.330000   5.65    Male    Yes    Sunday  Dinner     2
184          12.0   50.810000  10.00    Male    Yes  Saturday  Dinner     3
193           6.0   28.170000   6.50  Female    Yes  Saturday  Dinner     3
197           9.0   29.030000   5.92    Male     No  Saturday  Dinner     3
203          11.0   39.420000   7.58    Male     No  Saturday  Dinner     4
207          12.0   30.400000   5.60    Male     No    Sunday  Dinner     4
208          14.0   32.400000   6.00    Male     No    Sunday  Dinner     4
209           5.0   34.810000   5.20  Female     No    Sunday  Dinner     4
212           5.0   48.270000   6.73    Male     No  Saturday  Dinner     4
215          15.0   34.830000   5.17  Female     No  Thursday   Lunch     4
217           1.0   29.930000   5.07    Male     No    Sunday  Dinner     4
226           9.0   23.170000   6.50    Male    Yes    Sunday  Dinner     4
230          13.0   25.890000   5.16    Male    Yes  Saturday  Dinner     4
231           4.0   48.330000   9.00    Male     No  Saturday  Dinner     4
236           2.0   20.113242   5.14  Female     No    Sunday  Dinner     5
241          10.0   34.300000   6.70    Male     No  Thursday   Lunch     6

In [104]:
d.corr()

              table_number  total_bill       tip      size
table_number      1.000000   -0.051636 -0.103436  0.001940
total_bill       -0.051636    1.000000  0.651319  0.568247
tip              -0.103436    0.651319  1.000000  0.491506
size              0.001940    0.568247  0.491506  1.000000

In [105]:
d.describe()

       table_number  total_bill         tip        size
count    236.000000  244.000000  244.000000  244.000000
mean       8.580508   20.113242    2.998279    2.553279
std        4.628988    8.653260    1.383638    0.969297
min        1.000000    3.070000    1.000000    1.000000
25%        4.000000   13.985000    2.000000    2.000000
50%        9.000000   18.665000    2.900000    2.000000
75%       12.250000   24.022500    3.562500    3.000000
max       16.000000   50.810000   10.000000    6.000000