# python base

In [1]:
x=[8,5,42,9,4]
[x,x,x]

[[8, 5, 42, 9, 4], [8, 5, 42, 9, 4], [8, 5, 42, 9, 4]]

In [2]:
67+11

78

In [3]:
"67"+"11"

'6711'

In [4]:
type(8.9)

float

In [5]:
type("abc")

str

In [6]:
type(8)

int

In [7]:
a=9
a==3

False

In [8]:
a=9
a==9

True

In [9]:
type(a)

int

In [73]:
v1=[1,2,3,4,5,6]
v2=[3,4,2,2,5,6]
v3=v1+v2
v3

[1, 2, 3, 4, 5, 6, 3, 4, 2, 2, 5, 6]

# tuples and list

In [80]:
a=[12,24,69,37,68,37,46,22,48,78]
sel_a=40
a[3]>sel_a

False

In [81]:
range(3,5)

range(3, 5)

In [82]:
if a[1]<sel_a:
    print("not selected to the team")

not selected to the team

In [83]:
for x in range (10):
    print (x)

0
1
2
3
4
5
6
7
8
9

In [84]:
for x in range(len(a)):
    print(a[x])

12
24
69
37
68
37
46
22
48
78

In [85]:
for a in a:
    print(a)  
    if a<sel_a:
        print("not selected to the team")
    else: 
        print("selected to the team")
    print("***************************")
    
#else if
#elif

12
not selected to the team
***************************
24
not selected to the team
***************************
69
selected to the team
***************************
37
not selected to the team
***************************
68
selected to the team
***************************
37
not selected to the team
***************************
46
selected to the team
***************************
22
not selected to the team
***************************
48
selected to the team
***************************
78
selected to the team
***************************

In [87]:
x = range(1, 56, 5)
for n in x:
    print(n)
#start = 1, stop = 56, step = 5

1
6
11
16
21
26
31
36
41
46
51

In [88]:
def subtract(p, q):
    return p-q

In [89]:
subtract(754,395)

359

In [90]:
def mul(p,q):
    return p*q
mul(124,35)

4340

In [91]:
def mod(p,q):
    return p%q
mul(485,55)

26675

# Python for DS

In [42]:
import pandas as pd
import numpy as np

In [47]:
power_consumption=[345,678,864,975,685]
power_consumption

[345, 678, 864, 975, 685]

In [48]:
power_consumption = pd.Series(power_consumption)

In [50]:
power_consumption

0    345
1    678
2    864
3    975
4    685
dtype: int64

In [51]:
power_consumption.index

RangeIndex(start=0, stop=5, step=1)

In [52]:
power_consumption.values

array([345, 678, 864, 975, 685])

In [54]:
power_consumption[1:2]

1    678
dtype: int64

In [55]:
power_consumption[2:]

2    864
3    975
4    685
dtype: int64

In [56]:
power_consumption[:3]

0    345
1    678
2    864
dtype: int64

In [57]:
power_consumption[4]=None
power_consumption

0    345.0
1    678.0
2    864.0
3    975.0
4      NaN
dtype: float64

In [58]:
power_consumption[::]

0    345.0
1    678.0
2    864.0
3    975.0
4      NaN
dtype: float64

In [59]:
power_consumption[:]

0    345.0
1    678.0
2    864.0
3    975.0
4      NaN
dtype: float64

In [60]:
power_consumption.value_counts()

975.0    1
345.0    1
864.0    1
678.0    1
dtype: int64

In [61]:
n_df = pd.DataFrame(([power_consumption, power_consumption])).T

In [62]:
n_df

       0      1
0  345.0  345.0
1  678.0  678.0
2  864.0  864.0
3  975.0  975.0
4    NaN    NaN

In [27]:
df = pd.read_csv("/Users/nemisha/Desktop/documents/Tetuan City power consumption.csv")
df

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
0,1/1/2017 0:00,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386
1,1/1/2017 0:10,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434
2,1/1/2017 0:20,6.313,74.5,0.080,0.062,0.100,29128.10127,19006.68693,19668.43373
3,1/1/2017 0:30,6.121,75.0,0.083,0.091,0.096,28228.86076,18361.09422,18899.27711
4,1/1/2017 0:40,5.921,75.7,0.081,0.048,0.085,27335.69620,17872.34043,18442.40964
...,...,...,...,...,...,...,...,...,...
52411,12/30/2017 23:10,7.010,72.4,0.080,0.040,0.096,31160.45627,26857.31820,14780.31212
52412,12/30/2017 23:20,6.947,72.6,0.082,0.051,0.093,30430.41825,26124.57809,14428.81152
52413,12/30/2017 23:30,6.900,72.8,0.086,0.084,0.074,29590.87452,25277.69254,13806.48259
52414,12/30/2017 23:40,6.758,73.0,0.080,0.066,0.089,28958.17490,24692.23688,13512.60504
52415,12/30/2017 23:50,6.580,74.1,0.081,0.062,0.111,28349.80989,24055.23167,13345.49820

In [28]:
df.head()

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
0,1/1/2017 0:00,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386
1,1/1/2017 0:10,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434
2,1/1/2017 0:20,6.313,74.5,0.080,0.062,0.100,29128.10127,19006.68693,19668.43373
3,1/1/2017 0:30,6.121,75.0,0.083,0.091,0.096,28228.86076,18361.09422,18899.27711
4,1/1/2017 0:40,5.921,75.7,0.081,0.048,0.085,27335.69620,17872.34043,18442.40964

In [29]:
df.tail()

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
52411,12/30/2017 23:10,7.010,72.4,0.080,0.040,0.096,31160.45627,26857.31820,14780.31212
52412,12/30/2017 23:20,6.947,72.6,0.082,0.051,0.093,30430.41825,26124.57809,14428.81152
52413,12/30/2017 23:30,6.900,72.8,0.086,0.084,0.074,29590.87452,25277.69254,13806.48259
52414,12/30/2017 23:40,6.758,73.0,0.080,0.066,0.089,28958.17490,24692.23688,13512.60504
52415,12/30/2017 23:50,6.580,74.1,0.081,0.062,0.111,28349.80989,24055.23167,13345.49820

In [41]:
df.describe

<bound method NDFrame.describe of                DateTime  Temperature  Humidity  Wind Speed  \
0         1/1/2017 0:00        6.559      73.8       0.083
1         1/1/2017 0:10        6.414      74.5       0.083
2         1/1/2017 0:20        6.313      74.5       0.080
3         1/1/2017 0:30        6.121      75.0       0.083
4         1/1/2017 0:40        5.921      75.7       0.081
...                 ...          ...       ...         ...
52411  12/30/2017 23:10        7.010      72.4       0.080
52412  12/30/2017 23:20        6.947      72.6       0.082
52413  12/30/2017 23:30        6.900      72.8       0.086
52414  12/30/2017 23:40        6.758      73.0       0.080
52415  12/30/2017 23:50        6.580      74.1       0.081

       general diffuse flows  diffuse flows  Zone 1 Power Consumption  \
0                      0.051          0.119               34055.69620
1                      0.070          0.085               29814.68354
2                      0.062          0.100               29128.10127
3                      0.091          0.096               28228.86076
4                      0.048          0.085               27335.69620
...                      ...            ...                       ...
52411                  0.040          0.096               31160.45627
52412                  0.051          0.093               30430.41825
52413                  0.084          0.074               29590.87452
52414                  0.066          0.089               28958.17490
52415                  0.062          0.111               28349.80989

       Zone 2  Power Consumption  Zone 3  Power Consumption
0                    16128.87538                20240.96386
1                    19375.07599                20131.08434
2                    19006.68693                19668.43373
3                    18361.09422                18899.27711
4                    17872.34043                18442.40964
...                          ...                        ...
52411                26857.31820                14780.31212
52412                26124.57809                14428.81152
52413                25277.69254                13806.48259
52414                24692.23688                13512.60504
52415                24055.23167                13345.49820

[52416 rows x 9 columns]>

In [70]:
df['Humidity']

0        73.8
1        74.5
2        74.5
3        75.0
4        75.7
         ...
52411    72.4
52412    72.6
52413    72.8
52414    73.0
52415    74.1
Name: Humidity, Length: 52416, dtype: float64

In [31]:
df['Temperature'].value_counts()

15.180    58
20.760    56
19.790    55
20.740    52
15.850    51
          ..
6.933      1
31.610     1
39.150     1
6.599      1
5.257      1
Name: Temperature, Length: 3437, dtype: int64

In [ ]:
df['Temperature'].value_counts()

In [32]:
df.shape

(52416, 9)

In [33]:
df.isna().sum()

DateTime                     0
Temperature                  0
Humidity                     0
Wind Speed                   0
general diffuse flows        0
diffuse flows                0
Zone 1 Power Consumption     0
Zone 2  Power Consumption    0
Zone 3  Power Consumption    0
dtype: int64

In [34]:
df.fillna

<bound method DataFrame.fillna of                DateTime  Temperature  Humidity  Wind Speed  \
0         1/1/2017 0:00        6.559      73.8       0.083
1         1/1/2017 0:10        6.414      74.5       0.083
2         1/1/2017 0:20        6.313      74.5       0.080
3         1/1/2017 0:30        6.121      75.0       0.083
4         1/1/2017 0:40        5.921      75.7       0.081
...                 ...          ...       ...         ...
52411  12/30/2017 23:10        7.010      72.4       0.080
52412  12/30/2017 23:20        6.947      72.6       0.082
52413  12/30/2017 23:30        6.900      72.8       0.086
52414  12/30/2017 23:40        6.758      73.0       0.080
52415  12/30/2017 23:50        6.580      74.1       0.081

       general diffuse flows  diffuse flows  Zone 1 Power Consumption  \
0                      0.051          0.119               34055.69620
1                      0.070          0.085               29814.68354
2                      0.062          0.100               29128.10127
3                      0.091          0.096               28228.86076
4                      0.048          0.085               27335.69620
...                      ...            ...                       ...
52411                  0.040          0.096               31160.45627
52412                  0.051          0.093               30430.41825
52413                  0.084          0.074               29590.87452
52414                  0.066          0.089               28958.17490
52415                  0.062          0.111               28349.80989

       Zone 2  Power Consumption  Zone 3  Power Consumption
0                    16128.87538                20240.96386
1                    19375.07599                20131.08434
2                    19006.68693                19668.43373
3                    18361.09422                18899.27711
4                    17872.34043                18442.40964
...                          ...                        ...
52411                26857.31820                14780.31212
52412                26124.57809                14428.81152
52413                25277.69254                13806.48259
52414                24692.23688                13512.60504
52415                24055.23167                13345.49820

[52416 rows x 9 columns]>

In [35]:
df.columns

Index(['DateTime', 'Temperature', 'Humidity', 'Wind Speed',
       'general diffuse flows', 'diffuse flows', 'Zone 1 Power Consumption',
       'Zone 2  Power Consumption', 'Zone 3  Power Consumption'],
      dtype='object')

In [36]:
collist=['Zone 1 Power Consumption','Zone 2  Power Consumption','Zone 3  Power Consumption']

In [37]:
df[collist]

,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
0,34055.69620,16128.87538,20240.96386
1,29814.68354,19375.07599,20131.08434
2,29128.10127,19006.68693,19668.43373
3,28228.86076,18361.09422,18899.27711
4,27335.69620,17872.34043,18442.40964
...,...,...,...
52411,31160.45627,26857.31820,14780.31212
52412,30430.41825,26124.57809,14428.81152
52413,29590.87452,25277.69254,13806.48259
52414,28958.17490,24692.23688,13512.60504
52415,28349.80989,24055.23167,13345.49820

In [80]:
#DICTIONARIES

In [92]:
power_consumption

0    345.0
1    678.0
2    864.0
3    975.0
4      NaN
dtype: float64

In [93]:
len(power_consumption)

5

In [98]:
sname = list('ABCDE')

In [99]:
sname

['A', 'B', 'C', 'D', 'E']

In [100]:
s_dict = {'sno':sname, 'power_consumption':power_consumption}
s_dict

{'sno': ['A', 'B', 'C', 'D', 'E'],
 'power_consumption': 0    345.0
 1    678.0
 2    864.0
 3    975.0
 4      NaN
 dtype: float64}

In [102]:
df2 = pd.DataFrame(s_dict)
df2

  sno  power_consumption
0   A              345.0
1   B              678.0
2   C              864.0
3   D              975.0
4   E                NaN

In [69]:
df[df['Temperature']>30]

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
17506,5/2/2017 13:40,30.07,29.99,0.071,738.0,272.1,34925.11475,21867.49226,16941.86235
19083,5/13/2017 12:30,30.35,32.43,0.081,869.0,210.8,35982.68852,21993.80805,18673.36032
19084,5/13/2017 12:40,30.95,31.83,0.074,856.0,205.8,35516.85246,21882.35294,18778.29960
19085,5/13/2017 12:50,30.87,31.73,0.072,855.0,206.0,35806.42623,21737.46130,18766.63968
19086,5/13/2017 13:00,31.18,30.83,0.073,850.0,206.0,35995.27869,21967.80186,18667.53036
...,...,...,...,...,...,...,...,...,...
38115,9/22/2017 16:30,31.33,14.10,4.949,454.2,97.0,34088.49558,19829.93763,13126.21042
38116,9/22/2017 16:40,31.06,14.80,4.934,407.7,88.0,34139.46903,19747.60915,13137.97753
38117,9/22/2017 16:50,30.84,19.21,4.929,369.3,87.3,33661.59292,19998.33680,13302.71706
38118,9/22/2017 17:00,30.44,20.21,4.945,347.0,94.2,33604.24779,19571.72557,13614.54545
38119,9/22/2017 17:10,30.09,21.64,4.943,338.3,113.7,33776.28319,19725.15593,14308.80490

In [112]:
df.shape

(829262, 14)

In [71]:
df[(df['Temperature']>30)&(df['Humidity']<75)]

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
17506,5/2/2017 13:40,30.07,29.99,0.071,738.0,272.1,34925.11475,21867.49226,16941.86235
19083,5/13/2017 12:30,30.35,32.43,0.081,869.0,210.8,35982.68852,21993.80805,18673.36032
19084,5/13/2017 12:40,30.95,31.83,0.074,856.0,205.8,35516.85246,21882.35294,18778.29960
19085,5/13/2017 12:50,30.87,31.73,0.072,855.0,206.0,35806.42623,21737.46130,18766.63968
19086,5/13/2017 13:00,31.18,30.83,0.073,850.0,206.0,35995.27869,21967.80186,18667.53036
...,...,...,...,...,...,...,...,...,...
38115,9/22/2017 16:30,31.33,14.10,4.949,454.2,97.0,34088.49558,19829.93763,13126.21042
38116,9/22/2017 16:40,31.06,14.80,4.934,407.7,88.0,34139.46903,19747.60915,13137.97753
38117,9/22/2017 16:50,30.84,19.21,4.929,369.3,87.3,33661.59292,19998.33680,13302.71706
38118,9/22/2017 17:00,30.44,20.21,4.945,347.0,94.2,33604.24779,19571.72557,13614.54545
38119,9/22/2017 17:10,30.09,21.64,4.943,338.3,113.7,33776.28319,19725.15593,14308.80490

In [38]:
df.corr()

,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
Temperature,1.000000,-0.460243,0.477109,0.460294,0.196522,0.440221,0.382428,0.489527
Humidity,-0.460243,1.000000,-0.135853,-0.468138,-0.256886,-0.287421,-0.294961,-0.233022
Wind Speed,0.477109,-0.135853,1.000000,0.133733,-0.000972,0.167444,0.146413,0.278641
general diffuse flows,0.460294,-0.468138,0.133733,1.000000,0.564718,0.187965,0.157223,0.063376
diffuse flows,0.196522,-0.256886,-0.000972,0.564718,1.000000,0.080274,0.044667,-0.038506
Zone 1 Power Consumption,0.440221,-0.287421,0.167444,0.187965,0.080274,1.000000,0.834519,0.750733
Zone 2 Power Consumption,0.382428,-0.294961,0.146413,0.157223,0.044667,0.834519,1.000000,0.570932
Zone 3 Power Consumption,0.489527,-0.233022,0.278641,0.063376,-0.038506,0.750733,0.570932,1.000000