In [44]:
import numpy as np
import pandas as pd

In [1]:
l1 = [1,2,3,4]

In [2]:
l1

[1, 2, 3, 4]

In [3]:
[l1]

[[1, 2, 3, 4]]

In [4]:
[l1,l1]

[[1, 2, 3, 4], [1, 2, 3, 4]]

In [5]:
5+5

10

In [6]:
'5' + '5'

'55'

In [7]:
type(5)

int

In [8]:
type('5')

str

In [9]:
type('!')

str

In [10]:
type(5.5)

float

In [11]:
a = 10

In [12]:
a == 10

True

In [13]:
a == 12

False

In [14]:
x = [1,2,3]

In [15]:
y = (4,5,6)

In [16]:
type(x)

list

In [17]:
type(y)

tuple

In [18]:
m = [10,20,30,40,50,60,70,80,90]

In [19]:
pm = 40

In [20]:
pm in m

True

In [21]:
m[2] < pm

True

In [22]:
if m[2] < pm:
    print('fail')

fail

In [27]:
if m[5] < pm:
    print('pass')

In [28]:
if m[5] > pm:
    print('pass')

pass

In [29]:
print(m)

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [30]:
for i in range(len(m)):
    print (i)

0
1
2
3
4
5
6
7
8

In [33]:
for i in m:
    print(i)
    if i<pm:
        print('fail')
    else:
        print('pass')

10
fail
20
fail
30
fail
40
pass
50
pass
60
pass
70
pass
80
pass
90
pass

In [34]:
for i in m:
    print(i)
    if(i<pm)&(i>20):
        print('c')
    elif(i<pm)&(i<=20):
        print('b')
    else:
        print('a')

10
b
20
b
30
c
40
a
50
a
60
a
70
a
80
a
90
a

In [35]:
x = range(2,12,2)

In [37]:
x

range(2, 12, 2)

In [38]:
for i in x:
    print(i)

2
4
6
8
10

In [39]:
def add(x,y):
    return x+y

In [40]:
add(5,4)

9

In [41]:
def product(x,y):
    return x*y

In [42]:
product(4,7)

28

In [45]:
m

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [46]:
ms = pd.Series(m)

In [47]:
ms

0    10
1    20
2    30
3    40
4    50
5    60
6    70
7    80
8    90
dtype: int64

In [48]:
ms.index

RangeIndex(start=0, stop=9, step=1)

In [49]:
ms.values

array([10, 20, 30, 40, 50, 60, 70, 80, 90], dtype=int64)

In [52]:
ms.sum()

450

In [53]:
ms[2:5]

2    30
3    40
4    50
dtype: int64

In [54]:
ms[:4]

0    10
1    20
2    30
3    40
dtype: int64

In [55]:
ms[3:]

3    40
4    50
5    60
6    70
7    80
8    90
dtype: int64

In [56]:
ms[2] = 'rabbit'

In [57]:
ms

0        10
1        20
2    rabbit
3        40
4        50
5        60
6        70
7        80
8        90
dtype: object

In [58]:
ms[5] = None

In [59]:
ms

0        10
1        20
2    rabbit
3        40
4        50
5      None
6        70
7        80
8        90
dtype: object

In [60]:
ms.value_counts()

80        1
50        1
20        1
70        1
40        1
90        1
10        1
rabbit    1
dtype: int64

In [63]:
ms

0        10
1        20
2    rabbit
3        40
4        50
5      None
6        70
7        80
8        90
dtype: object

In [69]:
ms2 = pd.DataFrame([ms])

In [70]:
ms2

    0   1       2   3   4     5   6   7   8
0  10  20  rabbit  40  50  None  70  80  90

In [84]:
ms3 = pd.DataFrame([ms,ms])

In [85]:
ms3

    0   1       2   3   4     5   6   7   8
0  10  20  rabbit  40  50  None  70  80  90
1  10  20  rabbit  40  50  None  70  80  90

In [86]:
ms3.T

        0       1
0      10      10
1      20      20
2  rabbit  rabbit
3      40      40
4      50      50
5    None    None
6      70      70
7      80      80
8      90      90

In [87]:
ms3

    0   1       2   3   4     5   6   7   8
0  10  20  rabbit  40  50  None  70  80  90
1  10  20  rabbit  40  50  None  70  80  90

In [89]:
ms4 = pd.DataFrame([ms,ms]).T

In [90]:
ms4

        0       1
0      10      10
1      20      20
2  rabbit  rabbit
3      40      40
4      50      50
5    None    None
6      70      70
7      80      80
8      90      90

In [91]:
ms4.columns = ['m1','m2']

In [92]:
ms4

       m1      m2
0      10      10
1      20      20
2  rabbit  rabbit
3      40      40
4      50      50
5    None    None
6      70      70
7      80      80
8      90      90

In [93]:
df = pd.read_csv('C:/Users/jugvi/Downloads/Tetuan City power consumption.csv')

In [94]:
df.head(10)

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
0,1/1/2017 0:00,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386
1,1/1/2017 0:10,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434
2,1/1/2017 0:20,6.313,74.5,0.080,0.062,0.100,29128.10127,19006.68693,19668.43373
3,1/1/2017 0:30,6.121,75.0,0.083,0.091,0.096,28228.86076,18361.09422,18899.27711
4,1/1/2017 0:40,5.921,75.7,0.081,0.048,0.085,27335.69620,17872.34043,18442.40964
5,1/1/2017 0:50,5.853,76.9,0.081,0.059,0.108,26624.81013,17416.41337,18130.12048
6,1/1/2017 1:00,5.641,77.7,0.080,0.048,0.096,25998.98734,16993.31307,17945.06024
7,1/1/2017 1:10,5.496,78.2,0.085,0.055,0.093,25446.07595,16661.39818,17459.27711
8,1/1/2017 1:20,5.678,78.1,0.081,0.066,0.141,24777.72152,16227.35562,17025.54217
9,1/1/2017 1:30,5.491,77.3,0.082,0.062,0.111,24279.49367,15939.20973,16794.21687

In [95]:
df.tail(5)

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
52411,12/30/2017 23:10,7.010,72.4,0.080,0.040,0.096,31160.45627,26857.31820,14780.31212
52412,12/30/2017 23:20,6.947,72.6,0.082,0.051,0.093,30430.41825,26124.57809,14428.81152
52413,12/30/2017 23:30,6.900,72.8,0.086,0.084,0.074,29590.87452,25277.69254,13806.48259
52414,12/30/2017 23:40,6.758,73.0,0.080,0.066,0.089,28958.17490,24692.23688,13512.60504
52415,12/30/2017 23:50,6.580,74.1,0.081,0.062,0.111,28349.80989,24055.23167,13345.49820

In [96]:
df['Humidity']

0        73.8
1        74.5
2        74.5
3        75.0
4        75.7
         ...
52411    72.4
52412    72.6
52413    72.8
52414    73.0
52415    74.1
Name: Humidity, Length: 52416, dtype: float64

In [97]:
type(df['Wind Speed'])

pandas.core.series.Series

In [98]:
type(df)

pandas.core.frame.DataFrame

In [99]:
df['Humidity'].value_counts()

85.90    197
84.60    190
85.00    189
86.60    187
86.30    186
        ...
36.80      1
27.02      1
33.25      1
40.76      1
38.63      1
Name: Humidity, Length: 4443, dtype: int64

In [101]:
df.shape

(52416, 9)

In [102]:
df.sum()

DateTime                     1/1/2017 0:001/1/2017 0:101/1/2017 0:201/1/201...
Temperature                                                         985946.216
Humidity                                                            3577890.92
Wind Speed                                                          102708.568
general diffuse flows                                              9576225.707
diffuse flows                                                      3932668.797
Zone 1 Power Consumption                                      1695393977.06092
Zone 2  Power Consumption                                    1102964156.058971
Zone 3  Power Consumption                                     934860652.342433
dtype: object

In [103]:
df.isna()

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
52411,False,False,False,False,False,False,False,False,False
52412,False,False,False,False,False,False,False,False,False
52413,False,False,False,False,False,False,False,False,False
52414,False,False,False,False,False,False,False,False,False
52415,False,False,False,False,False,False,False,False,False

In [104]:
df.isna().sum()

DateTime                     0
Temperature                  0
Humidity                     0
Wind Speed                   0
general diffuse flows        0
diffuse flows                0
Zone 1 Power Consumption     0
Zone 2  Power Consumption    0
Zone 3  Power Consumption    0
dtype: int64

In [105]:
df.columns

Index(['DateTime', 'Temperature', 'Humidity', 'Wind Speed',
       'general diffuse flows', 'diffuse flows', 'Zone 1 Power Consumption',
       'Zone 2  Power Consumption', 'Zone 3  Power Consumption'],
      dtype='object')

In [112]:
a = list('abcdef')

In [113]:
b = [1,2,3,4,5,6]

In [116]:
len(a)

6

In [117]:
len(b)

6

In [118]:
dict1 = {'name':a, 'number':b}

In [119]:
dict1

{'name': ['a', 'b', 'c', 'd', 'e', 'f'], 'number': [1, 2, 3, 4, 5, 6]}

In [120]:
df2 = pd.DataFrame(dict1)

In [121]:
df2

  name  number
0    a       1
1    b       2
2    c       3
3    d       4
4    e       5
5    f       6

In [126]:
df2.value_counts()

name  number
a     1         1
b     2         1
c     3         1
d     4         1
e     5         1
f     6         1
dtype: int64

In [127]:
df2['number']>3

0    False
1    False
2    False
3     True
4     True
5     True
Name: number, dtype: bool

In [128]:
df2[df2['number']>3]

  name  number
3    d       4
4    e       5
5    f       6

In [129]:
df2.corr()

        number
number     1.0

In [130]:
df.corr()

,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
Temperature,1.000000,-0.460243,0.477109,0.460294,0.196522,0.440221,0.382428,0.489527
Humidity,-0.460243,1.000000,-0.135853,-0.468138,-0.256886,-0.287421,-0.294961,-0.233022
Wind Speed,0.477109,-0.135853,1.000000,0.133733,-0.000972,0.167444,0.146413,0.278641
general diffuse flows,0.460294,-0.468138,0.133733,1.000000,0.564718,0.187965,0.157223,0.063376
diffuse flows,0.196522,-0.256886,-0.000972,0.564718,1.000000,0.080274,0.044667,-0.038506
Zone 1 Power Consumption,0.440221,-0.287421,0.167444,0.187965,0.080274,1.000000,0.834519,0.750733
Zone 2 Power Consumption,0.382428,-0.294961,0.146413,0.157223,0.044667,0.834519,1.000000,0.570932
Zone 3 Power Consumption,0.489527,-0.233022,0.278641,0.063376,-0.038506,0.750733,0.570932,1.000000

In [131]:
df.describe()

,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
count,52416.000000,52416.000000,52416.000000,52416.000000,52416.000000,52416.000000,52416.000000,52416.000000
mean,18.810024,68.259518,1.959489,182.696614,75.028022,32344.970564,21042.509082,17835.406218
std,5.815476,15.551177,2.348862,264.400960,124.210949,7130.562564,5201.465892,6622.165099
min,3.247000,11.340000,0.050000,0.004000,0.011000,13895.696200,8560.081466,5935.174070
25%,14.410000,58.310000,0.078000,0.062000,0.122000,26310.668692,16980.766032,13129.326630
50%,18.780000,69.860000,0.086000,5.035500,4.456000,32265.920340,20823.168405,16415.117470
75%,22.890000,81.400000,4.915000,319.600000,101.000000,37309.018185,24713.717520,21624.100420
max,40.010000,94.800000,6.483000,1163.000000,936.000000,52204.395120,37408.860760,47598.326360

In [132]:
df2.describe()

         number
count  6.000000
mean   3.500000
std    1.870829
min    1.000000
25%    2.250000
50%    3.500000
75%    4.750000
max    6.000000