<center><h1>MACHINE LEARNING LAB </h1> </center>
<center><h2>BD2P3</h2> </center>
<center><h3>Roll No: 21BDA11</h3> </center>

<h3>16th April 2022</h3>

<i><b>Introduction</b></i>

What are packages?<br>
They are codes that can be reused. 
A package is basically a directory with Python files and a file 
with the name __init__.py. <br>
This means that every directory inside 
of the Python path, which contains a file named __init__.py, 
will be treated as a package by Python.

In [ ]:
#What is a markdown?
#Use them for each step.

In [ ]:
#3 parts:
#Code, reflection and references
#Must for the records

In [1]:
None
#none is for number format

In [2]:
" "
#for strings

' '

In [ ]:
#Operator - Works on operands to yield a result

In [ ]:
#Tuples vs lists
#Tuples are immutable while lists are mutable

<i><b>Loops</b></i>

In [4]:
#Range is a function
for i in range(5):
    print (i**2)
#takes values from 0 to 4

0
1
4
9
16

In [14]:
#In Python, we can use the item itself to iterate. Indexing is not required. 
marks = [76,45,15,57,23,98]

In [16]:
#conventional way
for i in range(len(marks)):
    print (marks[i])

76
45
15
57
23
98

In [15]:
#Python specific way
for mark in marks:
    print (mark)

76
45
15
57
23
98

<i><b>Conditions</b></i>

In [12]:
pass_mark=28

In [20]:
for mark in marks:
    if mark<pass_mark and mark>20:
        print("Grace Marks Awarded")
    elif mark<pass_mark:
        print("Fail")
    else:
        print("Pass")
print("_____________________________")

Pass
Pass
Fail
Pass
Grace Marks Awarded
Pass
_____________________________

<i><b>Dictionary</b></i>

In [ ]:
#Dictionaries have keys and values.
#Syntax - {key:value,key:value,...}
#OR we can use the dict()

In [ ]:
#Used predominantly in pandas

In [56]:
l1 = list("RAINBOW")
l1

['R', 'A', 'I', 'N', 'B', 'O', 'W']

<i><b>Scope</b></i>

In [ ]:
#The visibilty and the accessibility of attributes and methods.

<i><b>Functions</b></i>

In [ ]:
#Container of code
#reusability 
#keyword argument

In [21]:
def sum_of(a,b):
    return(a+b)

In [22]:
sum_of(23,56)

79

In [23]:
def diff_of(fno=0,sco=0):
    return(fno-sco)
#Using keyword arguments so that we can define which number comes first

<i><b>Packages in Python for Data Science</b></i>

In [24]:
#Pandas, Numpy, Scipy, Matplotlib, Sklearn
#Scikit

In [ ]:
#Kinds of Data: Structure and Unstructured 
#Structured: Anything with rows and columns [We can use Pandas]
#Unstructured: Anything other than structured data (Computer Vision, Text)

In [ ]:
#Supervised and Unsupervised Learning

<i><b>Working with Pandas</b></i>

In [25]:
import pandas as pd
#we use alias to make further coding easy
#Pandas handles rows and columns
#Two kinds of data structures: series and dataframes
#Series are one dimensional
#Dataframes are two dimensional

In [26]:
marks_series=pd.Series([45,12,34,87,23,78])

In [27]:
marks_series.index
#It is like a primary key used to identify each item in the Series.

RangeIndex(start=0, stop=6, step=1)

In [28]:
marks_series.values

array([45, 12, 34, 87, 23, 78], dtype=int64)

In [29]:
marks_series[1:]
#indexing

1    12
2    34
3    87
4    23
5    78
dtype: int64

In [30]:
marks_series[:4]

0    45
1    12
2    34
3    87
dtype: int64

In [31]:
#Can be changed
marks_series[5:]=45

In [32]:
marks_series

0    45
1    12
2    34
3    87
4    23
5    45
dtype: int64

In [36]:
marks_series.value_counts()

45    2
34    1
12    1
23    1
87    1
dtype: int64

In [38]:
df1 = pd.DataFrame(marks)

In [39]:
df1

    0
0  76
1  45
2  15
3  57
4  23
5  98

In [40]:
df1.T

    0   1   2   3   4   5
0  76  45  15  57  23  98

In [42]:
df1.columns=['Col1']
df1

   Col1
0    76
1    45
2    15
3    57
4    23
5    98

In [48]:
#Shift + Tab = Docstring 
df2 = pd.read_csv(r"D:\DG- PG Studies\DG-Semester1\LALP 1321\Practicals\song_data.csv")

In [49]:
df2.head(10)

,song_name,song_popularity,song_duration_ms,acousticness,danceability,energy,instrumentalness,key,liveness,loudness,audio_mode,speechiness,tempo,time_signature,audio_valence
0,Boulevard of Broken Dreams,73,262333,0.005520,0.496,0.682,0.000029,8,0.0589,-4.095,1,0.0294,167.060,4,0.474
1,In The End,66,216933,0.010300,0.542,0.853,0.000000,3,0.1080,-6.407,0,0.0498,105.256,4,0.370
2,Seven Nation Army,76,231733,0.008170,0.737,0.463,0.447000,0,0.2550,-7.828,1,0.0792,123.881,4,0.324
3,By The Way,74,216933,0.026400,0.451,0.970,0.003550,0,0.1020,-4.938,1,0.1070,122.444,4,0.198
4,How You Remind Me,56,223826,0.000954,0.447,0.766,0.000000,10,0.1130,-5.065,1,0.0313,172.011,4,0.574
5,Bring Me To Life,80,235893,0.008950,0.316,0.945,0.000002,4,0.3960,-3.169,0,0.1240,189.931,4,0.320
6,Last Resort,81,199893,0.000504,0.581,0.887,0.001110,4,0.2680,-3.659,0,0.0624,90.578,4,0.724
7,Are You Gonna Be My Girl,76,213800,0.001480,0.613,0.953,0.000582,2,0.1520,-3.435,1,0.0855,105.046,4,0.537
8,Mr. Brightside,80,222586,0.001080,0.330,0.936,0.000000,1,0.0926,-3.660,1,0.0917,148.112,4,0.234
9,Sex on Fire,81,203346,0.001720,0.542,0.905,0.010400,9,0.1360,-5.653,1,0.0540,153.398,4,0.374

In [50]:
df2.shape
#number of rows and number of columns

(18835, 15)

In [53]:
df2.isna().sum()
#Check for missing values

song_name           0
song_popularity     0
song_duration_ms    0
acousticness        0
danceability        0
energy              0
instrumentalness    0
key                 0
liveness            0
loudness            0
audio_mode          0
speechiness         0
tempo               0
time_signature      0
audio_valence       0
dtype: int64

In [ ]:
#Use fillna method to fill the missing values.

In [54]:
#To select more than one column: use nested list
#For only one column, just one list suffices
df2[['song_name','danceability']]

                        song_name  danceability
0      Boulevard of Broken Dreams         0.496
1                      In The End         0.542
2               Seven Nation Army         0.737
3                      By The Way         0.451
4               How You Remind Me         0.447
...                           ...           ...
18830              Let It Breathe         0.500
18831                     Answers         0.495
18832      Sudden Love (Acoustic)         0.719
18833           Gentle on My Mind         0.488
18834                    Up to Me         0.640

[18835 rows x 2 columns]

In [57]:
len(marks)

6

In [62]:
name="Exotic"
lname=list(name)
new_dict={"Name":lname,"Values":marks}

In [63]:
new_df=pd.DataFrame(new_dict)

In [64]:
new_df

  Name  Values
0    E      76
1    x      45
2    o      15
3    t      57
4    i      23
5    c      98

In [66]:
df2[df2['danceability']>0.5].shape
#filtering

(15131, 15)

In [71]:
df2.corr()
#Correlation: degree if association between two variables
#Correlation -1 or 1 : perfectly negatively related or perfectly positively related
#When we use corr() on a dataframe, we get a correlation matrix.
#Linear Relationship: When you can write one in terms of the other.

,song_popularity,song_duration_ms,acousticness,danceability,energy,instrumentalness,key,liveness,loudness,audio_mode,speechiness,tempo,time_signature,audio_valence
song_popularity,1.000000,-0.018899,-0.065181,0.104290,0.001365,-0.130907,-0.013160,-0.038937,0.099442,-0.004969,0.021479,-0.022672,0.034983,-0.052895
song_duration_ms,-0.018899,1.000000,-0.097882,-0.104985,0.092688,-0.015188,-0.004615,0.016086,0.016469,-0.026328,-0.083447,0.012791,0.000264,-0.063421
acousticness,-0.065181,-0.097882,1.000000,-0.182500,-0.662639,0.173098,-0.002025,-0.082537,-0.557744,0.064100,-0.093574,-0.136421,-0.157177,-0.121670
danceability,0.104290,-0.104985,-0.182500,1.000000,0.044373,-0.130483,0.007723,-0.090694,0.177639,-0.106539,0.213728,-0.121286,0.136391,0.332014
energy,0.001365,0.092688,-0.662639,0.044373,1.000000,-0.205914,0.020416,0.167143,0.755516,-0.051605,0.062053,0.162448,0.146265,0.316742
instrumentalness,-0.130907,-0.015188,0.173098,-0.130483,-0.205914,1.000000,-0.009463,-0.032887,-0.390248,-0.014983,-0.081138,-0.036934,-0.069181,-0.178570
key,-0.013160,-0.004615,-0.002025,0.007723,0.020416,-0.009463,1.000000,-0.008193,0.010452,-0.169848,0.033639,0.003239,-0.008282,0.025356
liveness,-0.038937,0.016086,-0.082537,-0.090694,0.167143,-0.032887,-0.008193,1.000000,0.102450,-0.001035,0.090845,0.031876,0.013289,0.013789
loudness,0.099442,0.016469,-0.557744,0.177639,0.755516,-0.390248,0.010452,0.102450,1.000000,-0.058506,0.078164,0.129938,0.119241,0.199696
audio_mode,-0.004969,-0.026328,0.064100,-0.106539,-0.051605,-0.014983,-0.169848,-0.001035,-0.058506,1.000000,-0.111627,0.020448,-0.024042,-0.004558
speechiness,0.021479,-0.083447,-0.093574,0.213728,0.062053,-0.081138,0.033639,0.090845,0.078164,-0.111627,1.000000,0.071685,0.057162,0.011046
tempo,-0.022672,0.012791,-0.136421,-0.121286,0.162448,-0.036934,0.003239,0.031876,0.129938,0.020448,0.071685,1.000000,0.003978,0.037667
time_signature,0.034983,0.000264,-0.157177,0.136391,0.146265,-0.069181,-0.008282,0.013289,0.119241,-0.024042,0.057162,0.003978,1.000000,0.094670
audio_valence,-0.052895,-0.063421,-0.121670,0.332014,0.316742,-0.178570,0.025356,0.013789,0.199696,-0.004558,0.011046,0.037667,0.094670,1.000000

In [ ]:
#Transformation of a particular column
#numpy - log,

In [72]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18835 entries, 0 to 18834
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   song_name         18835 non-null  object
 1   song_popularity   18835 non-null  int64
 2   song_duration_ms  18835 non-null  int64
 3   acousticness      18835 non-null  float64
 4   danceability      18835 non-null  float64
 5   energy            18835 non-null  float64
 6   instrumentalness  18835 non-null  float64
 7   key               18835 non-null  int64
 8   liveness          18835 non-null  float64
 9   loudness          18835 non-null  float64
 10  audio_mode        18835 non-null  int64
 11  speechiness       18835 non-null  float64
 12  tempo             18835 non-null  float64
 13  time_signature    18835 non-null  int64
 14  audio_valence     18835 non-null  float64
dtypes: float64(9), int64(5), object(1)
memory usage: 2.2+ MB

In [73]:
df2.describe()

,song_popularity,song_duration_ms,acousticness,danceability,energy,instrumentalness,key,liveness,loudness,audio_mode,speechiness,tempo,time_signature,audio_valence
count,18835.000000,1.883500e+04,18835.000000,18835.000000,18835.000000,18835.000000,18835.000000,18835.000000,18835.000000,18835.000000,18835.000000,18835.000000,18835.000000,18835.000000
mean,52.991877,2.182116e+05,0.258539,0.633348,0.644995,0.078008,5.289196,0.179650,-7.447435,0.628139,0.102099,121.073154,3.959119,0.527967
std,21.905654,5.988754e+04,0.288719,0.156723,0.214101,0.221591,3.614595,0.143984,3.827831,0.483314,0.104378,28.714456,0.298533,0.244632
min,0.000000,1.200000e+04,0.000001,0.000000,0.001070,0.000000,0.000000,0.010900,-38.768000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,40.000000,1.843395e+05,0.024100,0.533000,0.510000,0.000000,2.000000,0.092900,-9.044000,0.000000,0.037800,98.368000,4.000000,0.335000
50%,56.000000,2.113060e+05,0.132000,0.645000,0.674000,0.000011,5.000000,0.122000,-6.555000,1.000000,0.055500,120.013000,4.000000,0.527000
75%,69.000000,2.428440e+05,0.424000,0.748000,0.815000,0.002570,8.000000,0.221000,-4.908000,1.000000,0.119000,139.931000,4.000000,0.725000
max,100.000000,1.799346e+06,0.996000,0.987000,0.999000,0.997000,11.000000,0.986000,1.585000,1.000000,0.941000,242.318000,5.000000,0.984000