In [1]:
2

2

In [2]:
type(3)

int

In [3]:
True

True

In [4]:
type(True)

bool

In [5]:
2.5 #float dtype

2.5

In [6]:
"Hello" #String dtype

'Hello'

**Operators**

In [7]:
2 + 2

4

In [9]:
a = "6" + "3"
a

'63'

In [10]:
type(a)

str

In [11]:
a = (5,9)

In [12]:
type (a)

tuple

In [14]:
type({'a':1,'b':2})

dict

**Loop**

In [15]:
for i in range(0,10):
    print(i*2)

0
2
4
6
8
10
12
14
16
18

In [16]:
Days=["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"]
Days

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

In [18]:
for Day in Days:
    print(Day)

Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday

In [19]:
n = 20
if n>10:
    print("Yes")
else:
    print("No")

Yes

**Functions**

In [20]:
def Shape(type):
    print(type)
Shape("Triangle")
Shape("Circle")

Triangle
Circle

**Python for DataScience**

In [21]:
import pandas as pd

In [22]:
import numpy as np

In [23]:
num = [1,2,3,4,5,6,7,8]
num

[1, 2, 3, 4, 5, 6, 7, 8]

In [24]:
num_series = pd.Series(num)

In [25]:
num_series

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64

In [26]:
num_series[1:5]

1    2
2    3
3    4
4    5
dtype: int64

In [27]:
num_series.value_counts()

1    1
2    1
3    1
4    1
5    1
6    1
7    1
8    1
dtype: int64

In [28]:
df = pd.read_csv("toys.csv")
df

,Unnamed: 0,Sale_ID,Date,Store_Name,Store_City,Store_Location,Store_Open_Date,Product_Name,Product_Category,Product_Cost,Product_Price,Stock_On_Hand
0,0,1,2017-01-01,Maven Toys Aguascalientes 1,Aguascalientes,Downtown,2010-07-31,Chutes & Ladders,Games,10,13,1
1,1,2,2017-01-01,Maven Toys Puebla 2,Puebla,Downtown,2011-04-01,Action Figure,Toys,10,16,6
2,2,3,2017-01-01,Maven Toys Mexicali 1,Mexicali,Commercial,2003-12-13,Deck Of Cards,Games,4,7,50
3,3,4,2017-01-01,Maven Toys Saltillo 2,Saltillo,Commercial,2016-03-23,Dart Gun,Sports & Outdoors,12,16,28
4,4,5,2017-01-01,Maven Toys Puebla 3,Puebla,Residential,2014-12-27,Lego Bricks,Toys,35,40,117
...,...,...,...,...,...,...,...,...,...,...,...,...
829257,829257,829258,2018-09-30,Maven Toys Aguascalientes 1,Aguascalientes,Downtown,2010-07-31,Magic Sand,Art & Crafts,14,16,67
829258,829258,829259,2018-09-30,Maven Toys San Luis Potosi 1,San Luis Potosi,Downtown,2007-05-19,Uno Card Game,Games,4,8,6
829259,829259,829260,2018-09-30,Maven Toys Guanajuato 2,Guanajuato,Commercial,2010-03-29,Magic Sand,Art & Crafts,14,16,17
829260,829260,829261,2018-09-30,Maven Toys Mexicali 2,Mexicali,Downtown,2006-08-30,Animal Figures,Toys,10,13,2
829261,829261,829262,2018-09-30,Maven Toys Hermosillo 1,Hermosillo,Residential,2012-08-31,Colorbuds,Electronics,7,15,65

In [29]:
df.columns

Index(['Unnamed: 0', 'Sale_ID', 'Date', 'Store_Name', 'Store_City',
       'Store_Location', 'Store_Open_Date', 'Product_Name', 'Product_Category',
       'Product_Cost', 'Product_Price', 'Stock_On_Hand'],
      dtype='object')

In [31]:
df.head()

,Unnamed: 0,Sale_ID,Date,Store_Name,Store_City,Store_Location,Store_Open_Date,Product_Name,Product_Category,Product_Cost,Product_Price,Stock_On_Hand
0,0,1,2017-01-01,Maven Toys Aguascalientes 1,Aguascalientes,Downtown,2010-07-31,Chutes & Ladders,Games,10,13,1
1,1,2,2017-01-01,Maven Toys Puebla 2,Puebla,Downtown,2011-04-01,Action Figure,Toys,10,16,6
2,2,3,2017-01-01,Maven Toys Mexicali 1,Mexicali,Commercial,2003-12-13,Deck Of Cards,Games,4,7,50
3,3,4,2017-01-01,Maven Toys Saltillo 2,Saltillo,Commercial,2016-03-23,Dart Gun,Sports & Outdoors,12,16,28
4,4,5,2017-01-01,Maven Toys Puebla 3,Puebla,Residential,2014-12-27,Lego Bricks,Toys,35,40,117

In [33]:
df.shape

(829262, 12)

In [34]:
df.tail()

,Unnamed: 0,Sale_ID,Date,Store_Name,Store_City,Store_Location,Store_Open_Date,Product_Name,Product_Category,Product_Cost,Product_Price,Stock_On_Hand
829257,829257,829258,2018-09-30,Maven Toys Aguascalientes 1,Aguascalientes,Downtown,2010-07-31,Magic Sand,Art & Crafts,14,16,67
829258,829258,829259,2018-09-30,Maven Toys San Luis Potosi 1,San Luis Potosi,Downtown,2007-05-19,Uno Card Game,Games,4,8,6
829259,829259,829260,2018-09-30,Maven Toys Guanajuato 2,Guanajuato,Commercial,2010-03-29,Magic Sand,Art & Crafts,14,16,17
829260,829260,829261,2018-09-30,Maven Toys Mexicali 2,Mexicali,Downtown,2006-08-30,Animal Figures,Toys,10,13,2
829261,829261,829262,2018-09-30,Maven Toys Hermosillo 1,Hermosillo,Residential,2012-08-31,Colorbuds,Electronics,7,15,65

In [35]:
df['Store_Location']

0            Downtown
1            Downtown
2          Commercial
3          Commercial
4         Residential
             ...
829257       Downtown
829258       Downtown
829259     Commercial
829260       Downtown
829261    Residential
Name: Store_Location, Length: 829262, dtype: object

In [36]:
df['Store_Location'].value_counts()

Downtown       480224
Commercial     184705
Residential     95876
Airport         68457
Name: Store_Location, dtype: int64

In [37]:
df.isna().sum()

Unnamed: 0          0
Sale_ID             0
Date                0
Store_Name          0
Store_City          0
Store_Location      0
Store_Open_Date     0
Product_Name        0
Product_Category    0
Product_Cost        0
Product_Price       0
Stock_On_Hand       0
dtype: int64

In [38]:
df['Sale_ID']>829258

0         False
1         False
2         False
3         False
4         False
          ...
829257    False
829258     True
829259     True
829260     True
829261     True
Name: Sale_ID, Length: 829262, dtype: bool