# (A)

In [1]:
type(5)

int

In [2]:
type(11.8)

float

In [3]:
type("HeLLO World")

str

In [4]:
type(True)

bool

In [7]:
type(5j)

complex

In [8]:
type([1,2,3,4,5])

list

In [9]:
type({"a": 1, "b": 2})

dict

# Operators and Indexing

In [11]:
sample_list = ['hello','hi','cool','me']

In [13]:
sample_list[3]

'me'

In [14]:
sample_list[0]

'hello'

In [15]:
sample_list[2]+sample_list[3]  # concatenation

'coolme'

In [16]:
1+3

4

# Loops and iterations

In [17]:
for i in range(5):
    print(i)

0
1
2
3
4

In [18]:
for word in sample_list:
    print(word)

hello
hi
cool
me

In [19]:
for i in range(len(sample_list)):
    print(sample_list[i])

hello
hi
cool
me

# if-else statements

In [20]:
if "hello" in sample_list:
    print("Yes")
else:
    print("No")

Yes

# Functions

In [21]:
def love(name):
    print(name, "is LOVE")

In [22]:
love("GOD")

GOD is LOVE

# Python for DataScience

In [23]:
import pandas as pd
import numpy as np

In [24]:
randnums = np.random.randint(10, size = 10)
randnums

array([4, 7, 4, 3, 9, 3, 2, 9, 0, 5])

In [25]:
randnum_series = pd.Series(randnums)

In [26]:
randnum_series

0    4
1    7
2    4
3    3
4    9
5    3
6    2
7    9
8    0
9    5
dtype: int32

In [27]:
randnum_series.index

RangeIndex(start=0, stop=10, step=1)

In [28]:
randnum_series.values

array([4, 7, 4, 3, 9, 3, 2, 9, 0, 5])

In [29]:
randnum_series.value_counts()

3    2
4    2
9    2
0    1
2    1
5    1
7    1
dtype: int64

In [30]:
sample_df = pd.DataFrame([randnums,randnums]).T

In [31]:
sample_df

   0  1
0  4  4
1  7  7
2  4  4
3  3  3
4  9  9
5  3  3
6  2  2
7  9  9
8  0  0
9  5  5

In [32]:
sample_df.columns = ["randomnum01", "randomnum02"]
sample_df

   randomnum01  randomnum02
0            4            4
1            7            7
2            4            4
3            3            3
4            9            9
5            3            3
6            2            2
7            9            9
8            0            0
9            5            5

In [33]:
df = pd.read_csv("Toy Sales Data.csv")
df

,Sale_ID,Date,Store_ID,Product_ID,Units,Store_Name,Store_City,Store_Location,Store_Open_Date,Product_Name,Product_Category,Product_Cost,Product_Price,Stock_On_Hand
0,1,2017-01-01,24,4,1,Maven Toys Aguascalientes 1,Aguascalientes,Downtown,2010-07-31,Chutes & Ladders,Games,$9.99,$12.99,1.0
1,2,2017-01-01,28,1,1,Maven Toys Puebla 2,Puebla,Downtown,2011-04-01,Action Figure,Toys,$9.99,$15.99,6.0
2,3,2017-01-01,6,8,1,Maven Toys Mexicali 1,Mexicali,Commercial,2003-12-13,Deck Of Cards,Games,$3.99,$6.99,50.0
3,4,2017-01-01,48,7,1,Maven Toys Saltillo 2,Saltillo,Commercial,2016-03-23,Dart Gun,Sports & Outdoors,$11.99,$15.99,28.0
4,5,2017-01-01,44,18,1,Maven Toys Puebla 3,Puebla,Residential,2014-12-27,Lego Bricks,Toys,$34.99,$39.99,117.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
829257,829258,2018-09-30,24,19,1,Maven Toys Aguascalientes 1,Aguascalientes,Downtown,2010-07-31,Magic Sand,Art & Crafts,$13.99,$15.99,67.0
829258,829259,2018-09-30,16,35,1,Maven Toys San Luis Potosi 1,San Luis Potosi,Downtown,2007-05-19,Uno Card Game,Games,$3.99,$7.99,6.0
829259,829260,2018-09-30,22,19,1,Maven Toys Guanajuato 2,Guanajuato,Commercial,2010-03-29,Magic Sand,Art & Crafts,$13.99,$15.99,17.0
829260,829261,2018-09-30,13,2,2,Maven Toys Mexicali 2,Mexicali,Downtown,2006-08-30,Animal Figures,Toys,$9.99,$12.99,2.0
829261,829262,2018-09-30,32,6,1,Maven Toys Hermosillo 1,Hermosillo,Residential,2012-08-31,Colorbuds,Electronics,$6.99,$14.99,65.0

In [34]:
df.head()

,Sale_ID,Date,Store_ID,Product_ID,Units,Store_Name,Store_City,Store_Location,Store_Open_Date,Product_Name,Product_Category,Product_Cost,Product_Price,Stock_On_Hand
0,1,2017-01-01,24,4,1,Maven Toys Aguascalientes 1,Aguascalientes,Downtown,2010-07-31,Chutes & Ladders,Games,$9.99,$12.99,1.0
1,2,2017-01-01,28,1,1,Maven Toys Puebla 2,Puebla,Downtown,2011-04-01,Action Figure,Toys,$9.99,$15.99,6.0
2,3,2017-01-01,6,8,1,Maven Toys Mexicali 1,Mexicali,Commercial,2003-12-13,Deck Of Cards,Games,$3.99,$6.99,50.0
3,4,2017-01-01,48,7,1,Maven Toys Saltillo 2,Saltillo,Commercial,2016-03-23,Dart Gun,Sports & Outdoors,$11.99,$15.99,28.0
4,5,2017-01-01,44,18,1,Maven Toys Puebla 3,Puebla,Residential,2014-12-27,Lego Bricks,Toys,$34.99,$39.99,117.0

In [35]:
df.tail()

,Sale_ID,Date,Store_ID,Product_ID,Units,Store_Name,Store_City,Store_Location,Store_Open_Date,Product_Name,Product_Category,Product_Cost,Product_Price,Stock_On_Hand
829257,829258,2018-09-30,24,19,1,Maven Toys Aguascalientes 1,Aguascalientes,Downtown,2010-07-31,Magic Sand,Art & Crafts,$13.99,$15.99,67.0
829258,829259,2018-09-30,16,35,1,Maven Toys San Luis Potosi 1,San Luis Potosi,Downtown,2007-05-19,Uno Card Game,Games,$3.99,$7.99,6.0
829259,829260,2018-09-30,22,19,1,Maven Toys Guanajuato 2,Guanajuato,Commercial,2010-03-29,Magic Sand,Art & Crafts,$13.99,$15.99,17.0
829260,829261,2018-09-30,13,2,2,Maven Toys Mexicali 2,Mexicali,Downtown,2006-08-30,Animal Figures,Toys,$9.99,$12.99,2.0
829261,829262,2018-09-30,32,6,1,Maven Toys Hermosillo 1,Hermosillo,Residential,2012-08-31,Colorbuds,Electronics,$6.99,$14.99,65.0

In [36]:
df.shape

(829262, 14)

In [38]:
df["Product_Name"].value_counts()

Colorbuds                72988
Deck Of Cards            68083
PlayDoh Can              64834
Barrel O' Slime          54078
Action Figure            48497
Lego Bricks              48030
Splash Balls             41559
Magic Sand               39293
Rubik's Cube             38703
Animal Figures           32250
Dino Egg                 28181
Dart Gun                 26203
Glass Marbles            24507
Mini Ping Pong Set       24378
Dinosaur Figures         24311
Nerf Gun                 23709
Kids Makeup Kit          21648
Hot Wheels 5-Pack        20776
PlayDoh Toolkit          20736
Gamer Headphones         15543
Jenga                    12143
Etch A Sketch            11205
Toy Robot                10494
Mr. Potatohead            7820
Foam Disk Launcher        6812
Supersoaker Water Gun     6088
PlayDoh Playset           6067
Teddy Bear                6034
Plush Pony                5328
Classic Dominoes          4269
Chutes & Ladders          3700
Monopoly                  3002
Playfoam                  2812
Uno Card Game             2599
Mini Basketball Hoop      2582
Name: Product_Name, dtype: int64

In [39]:
df.isna().sum()

Sale_ID                0
Date                   0
Store_ID               0
Product_ID             0
Units                  0
Store_Name             0
Store_City             0
Store_Location         0
Store_Open_Date        0
Product_Name           0
Product_Category       0
Product_Cost           0
Product_Price          0
Stock_On_Hand       6232
dtype: int64

In [40]:
df.describe()

,Sale_ID,Store_ID,Product_ID,Units,Stock_On_Hand
count,829262.000000,829262.000000,829262.000000,829262.000000,823030.000000
mean,414631.500000,25.277034,15.014149,1.315103,25.319432
std,239387.463803,14.352573,9.869417,0.830701,22.955019
min,1.000000,1.000000,1.000000,1.000000,0.000000
25%,207316.250000,13.000000,6.000000,1.000000,9.000000
50%,414631.500000,26.000000,14.000000,1.000000,18.000000
75%,621946.750000,38.000000,24.000000,1.000000,35.000000
max,829262.000000,50.000000,35.000000,30.000000,139.000000

In [41]:
df.corr()

                Sale_ID  Store_ID  Product_ID     Units  Stock_On_Hand
Sale_ID        1.000000  0.004574    0.041613  0.005462       0.010554
Store_ID       0.004574  1.000000    0.018282  0.011295       0.084071
Product_ID     0.041613  0.018282    1.000000 -0.018422       0.018599
Units          0.005462  0.011295   -0.018422  1.000000       0.069369
Stock_On_Hand  0.010554  0.084071    0.018599  0.069369       1.000000