### ML LAB_01

#### Python Basics

In [6]:
#Pandas, Numpy, Scipy, Sklearn, Matplotlib are the packages we need

In [1]:
50

50

In [3]:
a = [1, 2, 3]
a

[1, 2, 3]

In [4]:
[a, a]

[[1, 2, 3], [1, 2, 3]]

In [5]:
#Operators

In [6]:
5+5

10

In [7]:
4.5 + 2.1

6.6

In [11]:
'2' + '3'

'23'

In [17]:
# Range, Loops and Iterations

In [12]:
x = range(5)
print(x)
for i in range(5):
    print(i)

range(0, 5)
0
1
2
3
4

In [13]:
for i in range(0,5,2):
    print(i)
# so here we see that numbers from 0 to (5-1) are printed with a step of 2

0
2
4

In [14]:
for i in range(10, 3, -1):
    print(i)
# so here we see that numbers from 10 to 3 are printed in a reverse order i.e. -1

10
9
8
7
6
5
4

In [15]:
type(range(1000))

range

In [16]:
stop = 20
for i in range(0,stop):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [18]:
# if - else statements

In [19]:
a = 5
b = 10
if b > a:
  print("b is greater than a")

b is greater than a

In [21]:
a = 20
b = 20
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [23]:
a = 150
b = 25
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [24]:
# Function

In [25]:
def subject(fname, lname):
  print(fname + " " + lname)
subject("Machine", "Learning")

Machine Learning

In [27]:
def Fruits(food):
  for x in food:
    print(x)
f = ["apple", "banana", "cherry"]
Fruits(f)

apple
banana
cherry

In [31]:
def my_function(x):
  return 5 * x
print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

#### Python for DS

In [32]:
import pandas as pd

In [33]:
import numpy as np

In [34]:
marks = [10,20,30,40,50,60,70,80,90]

In [35]:
marks

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [36]:
marks_series = pd.Series(marks)

In [37]:
marks_series

0    10
1    20
2    30
3    40
4    50
5    60
6    70
7    80
8    90
dtype: int64

In [38]:
marks_series.index

RangeIndex(start=0, stop=9, step=1)

In [39]:
marks_series.values

array([10, 20, 30, 40, 50, 60, 70, 80, 90], dtype=int64)

In [40]:
marks_series[5:]

5    60
6    70
7    80
8    90
dtype: int64

In [41]:
marks_series[:5]

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [42]:
marks_series[5] = None

In [44]:
marks_series.value_counts()

30.0    1
20.0    1
90.0    1
40.0    1
50.0    1
10.0    1
80.0    1
70.0    1
dtype: int64

In [45]:
df = pd.DataFrame([marks, marks]).T
df

    0   1
0  10  10
1  20  20
2  30  30
3  40  40
4  50  50
5  60  60
6  70  70
7  80  80
8  90  90

In [47]:
df.columns = ['marks01', 'marks02']
df

   marks01  marks02
0       10       10
1       20       20
2       30       30
3       40       40
4       50       50
5       60       60
6       70       70
7       80       80
8       90       90

In [59]:
f = pd.read_csv('Power_consumption.csv')
f

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
0,1/1/2017 0:00,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386
1,1/1/2017 0:10,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434
2,1/1/2017 0:20,6.313,74.5,0.080,0.062,0.100,29128.10127,19006.68693,19668.43373
3,1/1/2017 0:30,6.121,75.0,0.083,0.091,0.096,28228.86076,18361.09422,18899.27711
4,1/1/2017 0:40,5.921,75.7,0.081,0.048,0.085,27335.69620,17872.34043,18442.40964
...,...,...,...,...,...,...,...,...,...
52411,12/30/2017 23:10,7.010,72.4,0.080,0.040,0.096,31160.45627,26857.31820,14780.31212
52412,12/30/2017 23:20,6.947,72.6,0.082,0.051,0.093,30430.41825,26124.57809,14428.81152
52413,12/30/2017 23:30,6.900,72.8,0.086,0.084,0.074,29590.87452,25277.69254,13806.48259
52414,12/30/2017 23:40,6.758,73.0,0.080,0.066,0.089,28958.17490,24692.23688,13512.60504
52415,12/30/2017 23:50,6.580,74.1,0.081,0.062,0.111,28349.80989,24055.23167,13345.49820

In [80]:
f.head()

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
0,1/1/2017 0:00,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386
1,1/1/2017 0:10,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434
2,1/1/2017 0:20,6.313,74.5,0.080,0.062,0.100,29128.10127,19006.68693,19668.43373
3,1/1/2017 0:30,6.121,75.0,0.083,0.091,0.096,28228.86076,18361.09422,18899.27711
4,1/1/2017 0:40,5.921,75.7,0.081,0.048,0.085,27335.69620,17872.34043,18442.40964

In [81]:
f.tail()

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
52411,12/30/2017 23:10,7.010,72.4,0.080,0.040,0.096,31160.45627,26857.31820,14780.31212
52412,12/30/2017 23:20,6.947,72.6,0.082,0.051,0.093,30430.41825,26124.57809,14428.81152
52413,12/30/2017 23:30,6.900,72.8,0.086,0.084,0.074,29590.87452,25277.69254,13806.48259
52414,12/30/2017 23:40,6.758,73.0,0.080,0.066,0.089,28958.17490,24692.23688,13512.60504
52415,12/30/2017 23:50,6.580,74.1,0.081,0.062,0.111,28349.80989,24055.23167,13345.49820

In [82]:
f["Humidity"].value_counts()

85.90    197
84.60    190
85.00    189
86.60    187
86.30    186
        ...
36.80      1
27.02      1
33.25      1
40.76      1
38.63      1
Name: Humidity, Length: 4443, dtype: int64

In [83]:
f.iloc[0]

DateTime                     1/1/2017 0:00
Temperature                          6.559
Humidity                              73.8
Wind Speed                           0.083
general diffuse flows                0.051
diffuse flows                        0.119
Zone 1 Power Consumption        34055.6962
Zone 2  Power Consumption      16128.87538
Zone 3  Power Consumption      20240.96386
Name: 0, dtype: object

In [84]:
f.iloc[-1]

DateTime                     12/30/2017 23:50
Temperature                              6.58
Humidity                                 74.1
Wind Speed                              0.081
general diffuse flows                   0.062
diffuse flows                           0.111
Zone 1 Power Consumption          28349.80989
Zone 2  Power Consumption         24055.23167
Zone 3  Power Consumption          13345.4982
Name: 52415, dtype: object

In [85]:
f.iloc[0:2]

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
0,1/1/2017 0:00,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386
1,1/1/2017 0:10,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434

In [86]:
f.iloc[0:5:2]

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
0,1/1/2017 0:00,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386
2,1/1/2017 0:20,6.313,74.5,0.080,0.062,0.100,29128.10127,19006.68693,19668.43373
4,1/1/2017 0:40,5.921,75.7,0.081,0.048,0.085,27335.69620,17872.34043,18442.40964

In [87]:
f.iloc[0:5, 0]

0    1/1/2017 0:00
1    1/1/2017 0:10
2    1/1/2017 0:20
3    1/1/2017 0:30
4    1/1/2017 0:40
Name: DateTime, dtype: object

In [88]:
f.iloc[0:5, 0:3]

        DateTime  Temperature  Humidity
0  1/1/2017 0:00        6.559      73.8
1  1/1/2017 0:10        6.414      74.5
2  1/1/2017 0:20        6.313      74.5
3  1/1/2017 0:30        6.121      75.0
4  1/1/2017 0:40        5.921      75.7

In [89]:
f.iloc[:5:2, 1::3]

   Temperature  general diffuse flows  Zone 2  Power Consumption
0        6.559                  0.051                16128.87538
2        6.313                  0.062                19006.68693
4        5.921                  0.048                17872.34043

In [90]:
f.axes

[RangeIndex(start=0, stop=52416, step=1),
 Index(['DateTime', 'Temperature', 'Humidity', 'Wind Speed',
        'general diffuse flows', 'diffuse flows', 'Zone 1 Power Consumption',
        'Zone 2  Power Consumption', 'Zone 3  Power Consumption'],
       dtype='object')]

In [91]:
f.index

RangeIndex(start=0, stop=52416, step=1)

In [92]:
f.index.is_unique

True

In [93]:
f.shape

(52416, 9)

In [94]:
f.dtypes

DateTime                      object
Temperature                  float64
Humidity                     float64
Wind Speed                   float64
general diffuse flows        float64
diffuse flows                float64
Zone 1 Power Consumption     float64
Zone 2  Power Consumption    float64
Zone 3  Power Consumption    float64
dtype: object

In [95]:
f.describe()

,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
count,52416.000000,52416.000000,52416.000000,52416.000000,52416.000000,52416.000000,52416.000000,52416.000000
mean,18.810024,68.259518,1.959489,182.696614,75.028022,32344.970564,21042.509082,17835.406218
std,5.815476,15.551177,2.348862,264.400960,124.210949,7130.562564,5201.465892,6622.165099
min,3.247000,11.340000,0.050000,0.004000,0.011000,13895.696200,8560.081466,5935.174070
25%,14.410000,58.310000,0.078000,0.062000,0.122000,26310.668692,16980.766032,13129.326630
50%,18.780000,69.860000,0.086000,5.035500,4.456000,32265.920340,20823.168405,16415.117470
75%,22.890000,81.400000,4.915000,319.600000,101.000000,37309.018185,24713.717520,21624.100420
max,40.010000,94.800000,6.483000,1163.000000,936.000000,52204.395120,37408.860760,47598.326360

In [96]:
f.corr()

,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
Temperature,1.000000,-0.460243,0.477109,0.460294,0.196522,0.440221,0.382428,0.489527
Humidity,-0.460243,1.000000,-0.135853,-0.468138,-0.256886,-0.287421,-0.294961,-0.233022
Wind Speed,0.477109,-0.135853,1.000000,0.133733,-0.000972,0.167444,0.146413,0.278641
general diffuse flows,0.460294,-0.468138,0.133733,1.000000,0.564718,0.187965,0.157223,0.063376
diffuse flows,0.196522,-0.256886,-0.000972,0.564718,1.000000,0.080274,0.044667,-0.038506
Zone 1 Power Consumption,0.440221,-0.287421,0.167444,0.187965,0.080274,1.000000,0.834519,0.750733
Zone 2 Power Consumption,0.382428,-0.294961,0.146413,0.157223,0.044667,0.834519,1.000000,0.570932
Zone 3 Power Consumption,0.489527,-0.233022,0.278641,0.063376,-0.038506,0.750733,0.570932,1.000000