**ASSIGNMENT 1**

**PART A**

*PYTHON DATATYPES*

In [1]:
66

66

In [2]:
type(66)

int

In [3]:
"Hey"

'Hey'

In [4]:
type("Hey")

str

In [5]:
3.4

3.4

In [6]:
type(3.4)

float

In [7]:
True

True

In [8]:
type(True)

bool

In [9]:
5j

5j

In [10]:
type(5j)

complex

In [12]:
a=[1,2,3,4,5]
a

[1, 2, 3, 4, 5]

In [13]:
type(a)

list

In [14]:
b=((1,2,3,4,5))
b

(1, 2, 3, 4, 5)

In [15]:
type(b)

tuple

In [16]:
dict=({"a": 1, "b": 2})
dict

{'a': 1, 'b': 2}

In [17]:
type(dict)

dict

In [18]:
""

''

*OPERATORS*

In [19]:
A=3+4

In [20]:
A

7

In [22]:
type(A)

int

In [23]:
sample= ['hello','hi','good','morning']

In [24]:
sample

['hello', 'hi', 'good', 'morning']

In [25]:
sample[3]

'morning'

In [26]:
sample[2]+sample[3]

'goodmorning'

*LOOPS AND ITERATIONS*

In [27]:
range(100)

range(0, 100)

In [31]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [32]:
names=['Anu','Anju','Nandu','Unni']
names

['Anu', 'Anju', 'Nandu', 'Unni']

In [33]:
for word in names:
    print(word)

Anu
Anju
Nandu
Unni

In [35]:
if "Anu" in names:
    print("True")
else:
    print("False")

True

In [36]:
def foo_sum(a, b):
    return a*b

In [37]:
foo_sum(4,12)

48

*PYTHON FOR DS*

In [38]:
import pandas as pd
import numpy as np

In [40]:
sample

['hello', 'hi', 'good', 'morning']

In [41]:
sample_series = pd.Series(sample)

In [42]:
sample_series

0      hello
1         hi
2       good
3    morning
dtype: object

In [43]:
sample_series.index

RangeIndex(start=0, stop=4, step=1)

In [44]:
sample_series.values

array(['hello', 'hi', 'good', 'morning'], dtype=object)

In [45]:
sample_series.value_counts()

good       1
morning    1
hello      1
hi         1
dtype: int64

In [46]:
sample_df = pd.DataFrame([sample,sample]).T

In [47]:
sample_df

         0        1
0    hello    hello
1       hi       hi
2     good     good
3  morning  morning

In [48]:
sample_df.columns = ["sample01", "sample02"]

In [49]:
sample_df

  sample01 sample02
0    hello    hello
1       hi       hi
2     good     good
3  morning  morning

In [50]:
df = pd.read_csv("q3.csv")

In [51]:
df

,locationid,year,month,temp,latitude,longitude,stnelev,station,countryid,country
0,USS0010K01S,2000,4,5.27,39.9000,-110.7500,2773.7,INDIAN_CANYON,US,United States
1,CI000085406,1940,5,18.04,-18.3500,-70.3330,58.0,ARICA,CI,Chile
2,USC00036376,2013,12,6.22,34.3703,-91.1242,61.0,SAINT_CHARLES,US,United States
3,ASN00024002,1963,2,22.93,-34.2833,140.6000,65.5,BERRI_IRRIGATION,AS,Australia
4,ASN00028007,2001,11,NaN,-14.7803,143.5036,79.4,MUSGRAVE,AS,Australia
...,...,...,...,...,...,...,...,...,...,...
99995,MXXLT347415,1991,4,29.02,17.7800,-96.3100,65.0,VALLE_NACIONAL_VALLE,MX,Mexico
99996,RSM00032287,1991,11,-2.81,57.0800,156.7000,3.0,UST_HAIRYUZOVO,RS,Russia
99997,ARM00087166,1937,4,19.42,-27.4460,-58.7620,61.9,CORRIENTES,AR,Argentina
99998,CA006137361,1958,10,10.02,42.7833,-81.1667,236.0,ST_THOMAS,CA,Canada
99999,CA006137361,1966,1,-7.85,42.7833,-81.1667,236.0,ST_THOMAS,CA,Canada

In [52]:
df.head()

,locationid,year,month,temp,latitude,longitude,stnelev,station,countryid,country
0,USS0010K01S,2000,4,5.27,39.9000,-110.7500,2773.7,INDIAN_CANYON,US,United States
1,CI000085406,1940,5,18.04,-18.3500,-70.3330,58.0,ARICA,CI,Chile
2,USC00036376,2013,12,6.22,34.3703,-91.1242,61.0,SAINT_CHARLES,US,United States
3,ASN00024002,1963,2,22.93,-34.2833,140.6000,65.5,BERRI_IRRIGATION,AS,Australia
4,ASN00028007,2001,11,NaN,-14.7803,143.5036,79.4,MUSGRAVE,AS,Australia

In [53]:
df.tail()

,locationid,year,month,temp,latitude,longitude,stnelev,station,countryid,country
99995,MXXLT347415,1991,4,29.02,17.7800,-96.3100,65.0,VALLE_NACIONAL_VALLE,MX,Mexico
99996,RSM00032287,1991,11,-2.81,57.0800,156.7000,3.0,UST_HAIRYUZOVO,RS,Russia
99997,ARM00087166,1937,4,19.42,-27.4460,-58.7620,61.9,CORRIENTES,AR,Argentina
99998,CA006137361,1958,10,10.02,42.7833,-81.1667,236.0,ST_THOMAS,CA,Canada
99999,CA006137361,1966,1,-7.85,42.7833,-81.1667,236.0,ST_THOMAS,CA,Canada

In [54]:
df['locationid']

0        USS0010K01S
1        CI000085406
2        USC00036376
3        ASN00024002
4        ASN00028007
            ...
99995    MXXLT347415
99996    RSM00032287
99997    ARM00087166
99998    CA006137361
99999    CA006137361
Name: locationid, Length: 100000, dtype: object

In [55]:
type(df['locationid'])

pandas.core.series.Series

In [56]:
df.shape

(100000, 10)

In [57]:
df['locationid'].value_counts()

NOE00111040    27
NLM00006260    25
ITE00100554    25
SZ000008390    24
USC00121747    24
               ..
CA007040MLR     1
ASN00007178     1
USC00414080     1
USC00010425     1
CA008403255     1
Name: locationid, Length: 24528, dtype: int64

In [58]:
df.isna().sum()

locationid        0
year              0
month             0
temp          14446
latitude          0
longitude         0
stnelev           0
station           0
countryid         0
country           5
dtype: int64

In [60]:
df.describe()

,year,month,temp,latitude,longitude,stnelev
count,100000.000000,100000.000000,85554.000000,100000.000000,100000.000000,100000.000000
mean,1969.458030,6.494640,10.920770,35.075456,-38.123732,565.562545
std,35.836832,3.446463,11.522444,23.545646,84.297049,1073.647214
min,1720.000000,1.000000,-70.700000,-90.000000,-179.983000,-350.000000
25%,1949.000000,3.000000,3.460000,33.190675,-101.657925,64.000000
50%,1975.000000,6.000000,12.220000,40.793050,-79.568300,240.800000
75%,1998.000000,9.000000,19.570000,47.424700,17.533100,644.700000
max,2020.000000,12.000000,39.950000,82.516700,179.750000,9999.000000

In [61]:
df.corr()

               year     month      temp  latitude  longitude   stnelev
year       1.000000 -0.000873  0.010263 -0.030330   0.017549  0.016371
month     -0.000873  1.000000  0.152352  0.003395   0.004964 -0.002225
temp       0.010263  0.152352  1.000000 -0.397717   0.071065 -0.060881
latitude  -0.030330  0.003395 -0.397717  1.000000  -0.338208 -0.050871
longitude  0.017549  0.004964  0.071065 -0.338208   1.000000 -0.092062
stnelev    0.016371 -0.002225 -0.060881 -0.050871  -0.092062  1.000000